/* Main highlight */
.coin-highlight {
  border: 3px solid #EB6044 !important;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
}

/* Remove inner red lines */
.coin-highlight .coin-highlight {
  border: none !important;
}
